@media screen and (max-width: 600px) {
  header {
    padding: 15px 30px 0 30px;
    width: 100%;
  }

  main {
    gap: 40px;
  }

  .logo {
    width: 105px;
    height: 41.6px;
  }

  /* Меню бургер */

  .open {
    display: flex !important;
  }

  .menu-burger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    display: none;
    position: fixed;
    /* height: 100%;
    width: 100%; */
    top: 0; /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    background-color: white;
    animation: burgerAnimation 0.4s;
  }

  .menu {
    padding: 30px;
    flex-direction: column;
    gap: 20px;
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Меню бургер */

  .actions {
    gap: 20px;
  }

  .menu-item {
    font-size: 20px;
  }

  .cart {
    /* width: 16px;
    height: 16px; */
    border-radius: 50%;
    box-shadow: 0 12px 30px 0 rgba(205, 209, 214, 0.28);
    width: 40.58px;
    height: 40.58px;
  }

  .primary-button {
    border-radius: 63px;
    padding: 7.3px 20px;
    font-size: 14px;
    line-height: 21px;

    &.-card-button {
      width: 65%;
    }

    &.-order-button {
      width: 40%;
      height: auto;
    }
  }

  .welcome-page {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    gap: 30px;
  }

  .text-buttons {
    width: 100%;
  }

  .welcome-page-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  h1 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    line-height: 26.25px;
    text-align: center;
    width: 100%;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
  }

  h4 {
    font-size: 19px;
    line-height: 26px;
    text-align: center;
  }

  .welcome-page-description {
    font-size: 16px;
    line-height: 23.12px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;

    &.-services-desc {
      margin-top: 20px;
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .welcome-page-buttons {
    width: 100%;
    justify-content: center;
  }

  .links {
    font-size: 14px;
    line-height: 20.23px;
  }

  .cup {
    width: 80%;
    height: fit-content;
  }

  .stars-block {
    padding: 10px;
    width: 33%;
    height: 14%;
    left: 9%;
    top: 54.91%;
    gap: 6px;
    border-radius: 12px;
    justify-content: center;
  }

  .black-star {
    height: 19px;
    width: 19px;
  }

  .yellow-star {
    height: 24px;
    width: 24px;
  }

  .yellow-star-mobile {
    width: 24px;
    height: 24px;
  }

  .stars-row {
    width: 100%;
  }

  .rating-description {
    width: 100%;
    font-size: 10px;
    line-height: 14px;
  }

  .cafe-of-the-year {
    width: 18.04%;
    height: 17.5%;
    top: 2.5%;
    right: 13%;
  }

  .lines {
    width: 59.9%;
    height: 82%;
    top: 11.6%;
    right: 14.8%;
  }

  .services {
    width: 100%;
    padding: 0 30px;
  }

  .services-page-text {
    width: 100%;
  }

  .services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .services-block {
    width: 70%;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 30px 60px 0 rgba(163, 168, 178, 0.15);
  }

  .services-text {
    padding: 10px;
  }

  .services-block-description {
    font-size: 18px;
    line-height: 23.12px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
  }

  .services-images {
    width: 40%;
    height: fit-content;
  }

  .order-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    gap: 30px;
    width: 100%;
  }

  .order-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .cups {
    width: 100%;
    height: fit-content;
  }

  .feedback {
    padding: 0 30px;
    width: 100%;
    gap: 30px;
  }

  .feedback-header {
    width: 100%;
  }

  .feedback-description {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-top: 20px;
  }

  .feedback-number {
    font-size: 20px;
    line-height: 20px;
  }

  .feedback-text {
    font-size: 15px;
    line-height: 20px;
    margin-top: 0;
  }

  .feedback-gallery {
    width: 100%;
    height: fit-content;
    margin: 0;
    gap: 20px;
  }

  .arrow-button {
    width: 30px;
    height: 30px;
    box-shadow: 0 12px 30px 0 rgba(205, 209, 214, 0.28);
    border-radius: 50%;
  }

  .arrow {
    width: 20px;
    height: 20px;
  }

  .arrow-end {
    width: 20px;
    height: 20px;
  }

  .feedback-lists {
    display: none;
  }

  .feedback-card {
    display: none;
  }

  .feedback-card-swiper {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 20px 60px 0 rgba(163, 168, 178, 0.15);
  }

  .real-feedback {
    padding: 20px 10px;
    gap: 10px;
  }

  .name-stars {
    width: 100%;
    height: fit-content;
    gap: 20px;
  }

  .feedback-photo {
    width: 100%;
    height: fit-content;
  }

  .name {
    font-size: 18px;
    line-height: 24px;
  }

  .review {
    font-size: 16px;
    line-height: 23.12px;
  }

  .end-page-logo {
    width: 110px;
    height: 44px;
  }

  .end-page {
    width: 100%;
    padding: 0 30px;
    gap: 30px;
    margin: 0;
  }

  .end-page-desc_contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
  }

  .end-page-locat-email {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .end-description {
    width: 100%;
    gap: 20px;
  }

  .end-page-contacts {
    gap: 20px;
    margin-top: 0;
    width: 100%;
  }

  .contacts {
    gap: 20px;
  }

  .contacts-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  .email {
    gap: 20px;
    width: 100%;
    height: fit-content;
  }

  .phone-number {
    gap: 20px;
    width: 100%;
    height: fit-content;
  }

  .social-networks {
    gap: 20px;
  }

  .end-page-location {
    width: 100%;
    gap: 20px;
  }

  .location-link-arrow {
    gap: 4px;
  }

  .location-link {
    font-size: 12px;
    line-height: 20px;
  }

  .end-page-text {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }

  .email-image {
    width: 80%;
    height: 80%;
  }

  .contacts-images {
    width: 80%;
    height: 80%;
  }

  .contacts-button {
    border-radius: 50%;
    box-shadow: 0 12px 30px 0 rgba(205, 209, 214, 0.28);
    width: 40px;
    height: 40px;
  }

  .end-page-email {
    width: fit-content;
    height: fit-content;
    gap: 20px;
  }

  .form {
    gap: 20px;
    width: fit-content;
  }

  .form-box {
    font-size: 18px;
    line-height: 22px;
    width: 60%;
    height: fit-content;
    border-radius: 65px;
    padding: 10px 20px;

    ::placeholder {
      font-size: 18px;
      line-height: 22px;
      opacity: 70%;
      color: var(--mid-gray-color);
    }
  }

  .subscribe-button {
    height: fit-content;
    width: 50%;
  }

  footer {
    width: 100%;
    margin: 20px 30px 30px 30px;
  }

  .footer-block {
    width: 100%;
    height: 20px;
    margin: 0;
  }

  .terms-privacy {
    width: fit-content;
    height: fit-content;
    gap: 4px;
  }

  .footer-links {
    font-size: 12px;
    line-height: 16px;
  }
}
